.about-us {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.about-text h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.about-text p {
    margin-bottom: 20px;
}

.about-text img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
