body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f4faff;
}


.padding-top50 {
    padding-top: 50px;
}

.padding-bottom50 {
    padding-bottom: 50px;
}


.container {
    width: 90%;
    margin: 0 auto;
}

.navbar {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9); /* Прозрачный белый фон */
    backdrop-filter: blur(10px); /* Размытие заднего фона (может не поддерживаться во всех браузерах) */
    border-bottom: 1px solid #666; /* Граница между верхней и нижней частями */
    flex-direction: column;
    padding: 0;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #666; /* Граница между верхней и нижней частями */
}

.topnav a {
    color: black; /* Цвет ссылок в верхней части */
    text-decoration: none;
    padding: 14px 14px; /* Уменьшил отступы, чтобы было ближе к иконке */
}

.topnav .logo {
    font-size: 24px;
    font-weight: bold;
    color: black; /* Цвет логотипа */
    margin: 0 10px; /* Отступы для разделения иконки поиска и логотипа */
}

.topnav .search {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav .search input {
    padding: 8px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px; /* Отступ между иконкой и полем поиска */
    outline: none;
}

.topnav .icons {
    display: flex;
    align-items: center;
}

.topnav .icons img {
    width: 24px;
    margin-left: 10px;
}

.bottomnav {
    /* background-color: #444; */
    text-align: center;
    padding: 10px 0;
}

.bottomnav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}

.bottomnav a:hover {
    color: white;
    background-color: #555;
}

.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Стили для секции с карточками */
.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Стили для карточки */
.card {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Анимация при наведении */
}

.card:hover {
    transform: scale(1.05); /* Масштабирование карточки при наведении */
}

/* Стили для заголовка карточки */
.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Стили для текста карточки */
.card p {
    font-size: 14px;
    line-height: 1.6;
}

.slider-container {
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    /* transition: transform 2s ease-in-out; */
    width: 300%;
}

.slides img {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
}

/* Анимация для слайдера */
/* @keyframes slideAnimation {
    0% { transform: translateX(0%); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0%); }
} */





/* Стили для карточки товара */
.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 20px;
    /* transition: transform 0.3s ease; */
    cursor: pointer; /* Добавляем курсор указывающий на возможность нажатия */
}

.product-card a {
    text-decoration: none;
}

/* .product-card:hover {
    transform: translateY(-10px);
} */

.product-card img {
    width: 100%;
    height: 200px;
}

.product-info {
    padding: 20px;
}

.product-name {
    font-size: 1.2em;
    margin: 0 0 10px;
    color: #333;
}

.product-price {
    font-size: 1.1em;
    color: #e91e63;
    margin: 0 0 10px;
}


.product-count,
.product-description {
    font-size: 0.9em;
    color: #666;
    margin: 0 0 20px;
}

.product-buttons {
    display: flex;
    justify-content: space-between;
}

.product-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-buttons button:hover {
    background-color: #1e1b1b;
}

/* styles.css */
.footer {
    background-color: #333;
    color: #fff;
    padding-top: 60px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 25px;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.contact {
    margin-bottom: 20px;
}

.contact span {
    display: block;
    margin-bottom: 10px;
}

.socials a {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
}

.footer-section.links ul {
    list-style-type: none;
    padding: 0;
}

.footer-section.links ul li {
    margin-bottom: 10px;
}

.footer-section.links ul li a {
    color: #fff;
    text-decoration: none;
}

.contact-form .text-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    resize: vertical;
}

.btn {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn-big {
    padding: 12px 24px;
    font-size: 16px;
}

.footer-bottom {
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}


.footer-section.faq ul {
    list-style-type: none;
    padding: 0;
}

.footer-section.faq ul li {
    margin-bottom: 10px;
}

.footer-section.faq ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-section.faq ul li a:hover {
    color: #0056b3;
    text-decoration: underline;
}
