<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Часто задаваемые вопросы</title>
    <link rel="stylesheet" href="/styles/css/main/faq.css">
    <link rel="stylesheet" href="/styles/css/main/styles.css">
</head>
<%- include('../pages/navbar.ejs') %>

    <main>
        <section class="faq">
            <div class="container">
                <h1>Часто задаваемые вопросы</h1>

                <div class="faq-section">
                    <h2>Для юридических лиц</h2>
                    <ul>
                        <li><a href="#">Как я могу связаться с поддержкой?</a></li>
                        <li><a href="#">Какие способы оплаты вы принимаете?</a></li>
                        <li><a href="#">Как я могу вернуть товар?</a></li>
                        <li><a href="#">Какие гарантии на ваши продукты?</a></li>
                    </ul>
                </div>

                <div class="faq-section">
                    <h2>Для физических лиц</h2>
                    <ul>
                        <li><a href="#">Как зарегистрироваться на сайте?</a></li>
                        <li><a href="#">Как отслеживать статус заказа?</a></li>
                        <li><a href="#">Как изменить или отменить заказ?</a></li>
                        <li><a href="#">Как получить скидку на первый заказ?</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <%- include('../pages/footer.ejs') %>

</body>
</html>
