<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section about">
                <h2>О нас</h2>
                <p>Мы предоставляем качественные продукты и услуги. Если у вас есть вопросы, мы всегда готовы помочь!</p>
                <div class="contact">
                    <span><i class="fas fa-phone"></i> +123456789</span>
                    <span><i class="fas fa-envelope"></i> info@example.com</span>
                </div>
                <div class="socials">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-section links">
                <h2>Быстрые ссылки</h2>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Продукты</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="footer-section contact-form">
                <h2>Связаться с нами</h2>
                <form action="/send-message" method="post">
                    <!-- <label for="name">Имя:</label> -->
                    <input type="text" name="name" class="text-input contact-input" placeholder="Ваш Имя...">
                    <input type="email" name="email" class="text-input contact-input" placeholder="Ваш email...">
                    <textarea rows="4" name="message" class="text-input contact-input" placeholder="Ваше сообщение..."></textarea>
                    <button type="submit" class="btn btn-big contact-btn">
                        <i class="fas fa-envelope"></i>
                        Отправить
                    </button>
                </form>
            </div>
            <div class="footer-section faq">
                <h2>Часто задаваемые вопросы</h2>
                <ul>
                    <li><a href="#">Как я могу связаться с поддержкой?</a></li>
                    <li><a href="#">Какие способы оплаты вы принимаете?</a></li>
                    <li><a href="#">Как я могу вернуть товар?</a></li>
                    <li><a href="#">Какие гарантии на ваши продукты?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 MyWebsite. Все права защищены.
    </div>
</footer>
