<header>
    <div class="navbar">
        <div class="topnav">
            <a href="./" class="logo">Логотип</a>
            <div class="search">
                <form action="/product-list" method="get" style="width: 100%;">
                    <input type="text" id="search" name="search" placeholder="Поиск...">
                </form>
            </div>
            <div class="icons">
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                <a id="profile-link" href="/profile"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
        <div class="bottomnav">
            <a href="/">Главная</a>
            <a href="/product-list">Продукты</a>
            <a href="/about-us">О нас</a>
            <a href="/contact">Контакты</a>
            <a href="/faq">FAQ</a>
        </div>
    </div>    
</header>
